<div class="group bg-white rounded-2xl border border-gray-200 overflow-hidden transition-all duration-300 hover:-translate-y-1 hover:shadow-xl">

  <!-- IMAGE -->
  <div class="relative aspect-square bg-gray-100 overflow-hidden">
    <img [src]="product.imageUrl" [alt]="product.nom"
      class="w-full h-full object-cover transition duration-500 group-hover:scale-105" />

    <div class="absolute top-2 left-2">
      <app-product-badges [badges]="badges" size="sm"></app-product-badges>
    </div>

    <div class="absolute top-2 right-2">
      <app-favorite-button [isFavorite]="false" size="sm" (toggle)="onFavorite()"></app-favorite-button>
    </div>
  </div>

  <!-- CONTENU -->
  <div class="p-3 sm:p-4">
    <p class="text-[10px] sm:text-xs uppercase tracking-wider text-gray-400">{{ product.categorie }}</p>

    <h3 class="mt-1 text-sm sm:text-base font-semibold text-gray-900 line-clamp-1">{{ product.nom }}</h3>

    <div class="mt-1">
      <app-product-rating [nombreAvis]="24" size="sm"></app-product-rating>
    </div>

    <div class="mt-2 sm:mt-3">
      <app-product-price
        [displayedPrice]="displayedPrice"
        [originalPrice]="product.prix"
        [hasPromotion]="hasPromotion"
        size="sm">
      </app-product-price>
    </div>
    <!-- STOCK -->
<div class="mt-2">
  <p class="text-xs text-gray-500">
    Stock :
    <span
      class="font-semibold"
      [ngClass]="{
        'text-green-600': product.quantite > 10,
        'text-amber-600': product.quantite > 0 && product.quantite <= 10,
        'text-red-600': product.quantite === 0
      }">
      {{ product.quantite }}
    </span>
  </p>
</div>

    <div class="grid grid-cols-2 gap-1.5 sm:gap-2 mt-3 sm:mt-4">
      <a [routerLink]="['/produit', product.id]"
        class="flex items-center justify-center rounded-lg sm:rounded-xl border border-gray-300 py-1.5 sm:py-2 text-xs sm:text-sm font-medium hover:bg-gray-100 transition">
        Voir
      </a>
     <app-add-to-cart-button size="sm" (addToCart)="onAddToCart()"></app-add-to-cart-button>
    </div>
  </div>
</div>