<footer class="bg-[#111827] text-white">

    <div class="max-w-7xl mx-auto px-6 py-16">

        <div class="grid lg:grid-cols-5 gap-5">

            <div class="lg:col-span-2">

                <app-footer-brand></app-footer-brand>

            </div>
          
            <!-- Les autres composants viendront ici -->
         <div class="grid grid-cols-1 sm:grid-cols-4 gap-5 lg:col-span-3">

    <app-footer-links
        title="Boutique"
        [links]="boutiqueLinks">
    </app-footer-links>

    <app-footer-links
        title="Aide"
        [links]="helpLinks">
    </app-footer-links>

    <app-footer-links
        title="Entreprise"
        [links]="companyLinks">
    </app-footer-links>

    <app-footer-contact></app-footer-contact>

</div>

        </div>

    </div>

</footer>